@model IEnumerable<test1234.Models.Car>

@{
    ViewData["Title"] = "Car Gallery";
}

<h2>Car Gallery</h2>

<p>
    <a asp-action="Create">Add New Car</a>
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                    @*<div style="height:250px; width:350px; overflow:hidden;">*@
                    @if (item.ImageUrl != null)
                    {
                        <img src="@Url.Content(item.ImageUrl)" alt="Image" height="270px" width="475px" />
                    }
                    @*</div>*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
    @*<thead>
        <tr>
            <th>
                 <h3>
                    Page Hits :  @ViewBag.Visit
                </h3>
            </th>
        </tr>
    </thead>*@
</table>
